div, table, form {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  line-height: 16pt;
}

a {
  color: #6274da;
}

.fader {
  -moz-transition: opacity .3s ease-in-out;
  -webkit-transition: opacity .3s ease-in-out;
}

.faded-out {
  opacity: 0;
}

.faded-in {
  opacity: 1;
}

#header {
  text-align: center;
  background: #fff url(header.png) no-repeat center top;
  min-height: 200px;
  border-bottom: solid 1px #d9d5ce;
}

#header h1 {
  display: none;
}

#container {
  width: 625px;
  margin: 2em auto 0;
}

.button-container {
  text-align: center;
  margin: 2em 0;
}

#tweet-button {
  border: 0;
  vertical-align: text-bottom;
}

#now-what-list {
  margin: 0 0 0 2em;
  padding: 0;
}

#now-what-list li {
  margin: .5em 0;
  padding: 0;
}
