{% extends "base.html" %}

{% block body %}
<p>
<a href="/sign-out">Sign out</a>
</p>

<p>
Hello {{ user.first_name }}. Your external ID is {{ session.external_id }}.
</p>

<p>
Want to see where others intersect with you? Use this button to tweet out a link and get matched up:
<a href="https://twitter.com/?status={{ tweet_text }}" target="_blank"><img src="/static/tweet-button.png" width="55" height="20" border="0" alt="Tweet"></a>
</p>

{% if user.has_checkins %}
  We have {{ user.checkins.length }} checkins for you (<a href="/checkins/update">update them</a>).
  The oldest is from {{ user.checkins.oldest.timestamp|date:"SHORT_DATETIME_FORMAT" }},
  the newest is from {{ user.checkins.newest.timestamp|date:"SHORT_DATETIME_FORMAT" }}.
{% else %}
  We don't have any checkins for you. <a href="/checkins/update">Fetch</a> them to compute intersections.
{% endif %}


<form action="/checkins/intersect" method="GET">
  <label>
    Compute intersections with:
    <input type="text" size="20" name="external_id" placeholder="external ID">
  </label>

  <input type="submit" value="Go">
</form>

{% endblock %}
