{% extends "base.html" %}

{% block body %}

<p>
  Curious to see where you would have met
  <a href="https://foursquare.com/user/{{ other_user.foursquare_id }}"><img src="{{ other_user.photo_url }}" width="16" height="16" alt="">{{ other_user.first_name }}</a>?
  {{ other_user.pronoun|capfirst }} has {{ other_user.checkins.length }}
  Foursquare checkins, perhaps you were at some of the same venues too.
</p>

<p>
  Allow Intersquares to connect to your Foursquare account, and you'll find out.
</p>

<div class="button-container">
  <a href="{{ connect_url }}"><img src="/static/foursquare-button.png" width="150" height="24" alt="Connect with Foursquare"></a>
</div>

<p>
  Don't worry, we won't update your status or otherwise mess with your checkins.
</p>

{% endblock %}
