<!DOCTYPE html>
<html>
<head>
	<title>Intersquares</title>
</head>
<body>

<p>
  {{ intersection|length }} intersections between {{ this_user.first_name }} ({{this_user.checkins.length }} checkins)
  and
  {{ other_user.first_name }}  ({{other_user.checkins.length }} checkins):
</p>

{% for this_user_checkin, other_user_checkin in intersection %}
  {% ifchanged this_user_checkin.display_date %}
    <h2 class="date-header">
      {% ifchanged this_user_checkin.display_year %}
        {{ this_user_checkin.display_date }}
      {% else  %}
        {{ this_user_checkin.display_short_date }}
      {% endifchanged %}
    </h2>
  {{ date.date }}
  {% endifchanged %}
  <div class="details">
    <a href="https://foursquare.com/venue/{{ this_user_checkin.venue_id }}">{{ this_user_checkin.venue_name }}</a>
    at
    <a href="https://foursquare.com/user/{{this_user.foursquare_id }}/checkin/{{ this_user_checkin.id }}">{{ this_user_checkin.display_time }}</a>
    and
    <a href="https://foursquare.com/user/{{other_user.foursquare_id }}/checkin/{{ other_user_checkin.id }}">{{ other_user_checkin.display_time }}</a>.
  </div>
{% endfor %}

</body>
</html>
